:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 70%;
}

/* Style the image */
img {
  min-width: 60vw;
  min-height: 60vh;
  object-fit: contain;
}
